
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 5: Implementar el manejo de exepciones</h6>
                <hr>
                <p class="card-text">
                    <h5>Manejo de excepciones agregadas</h5>
                    <ul>
                        <li>
                            Algunos tipos de excepciones .NET contienen listas de excepciones internas. Estas se llaman "excepciones agregadas". Ocurren cuando más de una cosa puede
                            fallar a medida que se realiza una operación, o cuando los resultados de una serie de acciones deben combinarse.
                        </li>
                        <li>
                            The program in Listing1-84 shows a situation in which aggregate exceptions are used to deliver results from a method that is called to read the text from a
                            web page. The AgregateException is caught and the message from each exception is displayed.
                        </li>
                        <li>
                            También ha visto el uso de excepciones agregadas al considerar cómo tratar las excepciones generadas por consultas paralelas de LINQ
                            (LISTING_1_10_Exceptions_in_PLINQ) y al agregar excepciones generadas durante los manejadores de eventos (LISTING_1_70_Aggregating_ excepciones).
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>