
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 1: Implementando multihilos y procesamiento asincrono</h6>
                <hr>
                <p class="card-text">
                    Este capítulo está enfocado en la forma en que los programas se ejecutan dentro de tu computadora.
                    <br>
                    Esta seccion cubre como:
                    <ul>
                        <li>
                            <a href="Tema0101">
                                Usar la librería <var>Task Paralell</var> incluyendo los métodos <var>Parallel.For</var>, <var>PLINQ</var> y <var>tareas (tasks).</var>
                            </a>
                        </li>
                        <li>
                            <a href="Tema0102">
                                Crear tareas de continuación.
                            </a>
                        </li>
                        <li>
                            <a href="Tema0103">
                                Generar hilos mediante el uso de <var>ThreadPool</var>.
                            </a>
                        </li>
                        <li>
                            <a href="Tema0104">
                                Desbloquear la interfaz de usuario (UI).
                            </a>
                        </li>
                        <li>
                            <a href="Tema0105">
                                Usar <var>async</var> y <var>await</var>.
                            </a>
                        </li>
                        <li>
                            <a href="Tema0106">
                                Manejar datos mediante el uso de colecciones concurrentes.
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>