
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 5: Implementar el manejo de exepciones</h6>
                <hr>
                <p class="card-text">
                    <h5>Manejo de excepciones internas</h5>
                    <ul>
                        <li>
                            Una excepción puede contener una propiedad de excepción interna que se establece cuando se construye. Un controlador de excepciones puede extraer esto y
                            usarlo como parte del proceso de administración de excepciones. El programa en el Listado 1-83 contiene un controlador de excepciones que genera una nueva
                            excepción que contiene una excepción interna que describe el error. Si el usuario ingresa texto que no se puede analizar en un entero, se genera una
                            excepción que se captura y luego se genera una nueva excepción con el error "Error de calculadora". La nueva excepción contiene la excepción original como
                            una excepción interna. La nueva excepción se captura y se muestra.
                        </li>
                        <li>
                            Note that the use of inner exceptions must be planned, because handlers must be expecting the inner exception to refer to meaningful information about the
                            error that has occurred.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>