
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 4: Crear e implementar eventos y callbacks</h6>
                <hr>
                <p class="card-text">
                    <h5>Desuscribirse de un delegado</h5>
                    <ul>
                        <li>
                            Ha visto que el operador += se ha sobrecargado para permitir que los métodos se unan a los eventos. El método -= se usa para cancelar la
                            suscripción a eventos. El programa en el Listado 1-66 vincula dos métodos a la alarma, activa la alarma, desvincula uno de los métodos y
                            vuelve a activar la alarma.
                        </li>
                        <li>
                            Si el mismo suscriptor se agrega más de una vez al mismo editor, se le llamará una cantidad correspondiente de veces cuando ocurra el evento.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>