
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h2 class="card-subtitle mb-2 text-muted">Manage program flow</h2>
                <hr>
                <p class="card-text">
                    Este capítulo está enfocado en la forma en que los programas se ejecutan dentro de tu computadora.
                    <br>
                    Habilidades a desarrollar en este capítulo:
                    <ul>
                        <li>
                            <a href="/Capitulo01/Tema01"><span class="badge badge-secondary">Habilidad 1.1:</span>&nbsp;Implementando multihilos y procesamiento asincrono</a>
                        </li>

                        <li>
                            <a href="/Capitulo01/Tema02"><span class="badge badge-secondary">Habilidad 1.2:</span>&nbsp;Manejar y administrar multihilos</a>
                        </li>
                        <li>
                            <a href="/Capitulo01/Tema03"><span class="badge badge-secondary">Habilidad 1.3:</span>&nbsp;Implementar flujos de programa</a>
                        </li>
                        <li>
                            <a href="/Capitulo01/Tema04"><span class="badge badge-secondary">Habilidad 1.4:</span>&nbsp;Crear e implementar eventos y callbacks</a>
                        </li>
                        <li>
                            <a href="/Capitulo01/Tema05"><span class="badge badge-secondary">Habilidad 1.5:</span>&nbsp;Implementar el manejo de exepciones</a>
                        </li>
                        <li>
                            <a href="/Capitulo01/Test01"><span class="badge badge-secondary">Habilidad 1.5:</span>&nbsp;Test de conocimiento</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

