
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 3: Implementar flujos de programa</h6>
                <hr>
                <p class="card-text">
                    Ahora que ha pasado algún tiempo considerando cómo crear y administrar subprocesos, podemos echar un vistazo a lo que realmente hace un programa.
                    Un programa es una secuencia de instrucciones que se sigue que funciona en alguna entrada y produce una salida.
                    Puede pensar que el proceso de ejecución fluye a través de las declaraciones de C# de la misma manera que el agua podría fluir por el lecho de un
                    río. En esta sección consideraremos los elementos de C# que están asociados con el flujo del programa.
                    <br />
                    <br />
                    Los programas frecuentemente tienen que trabajar con grandes colecciones de datos, y C# proporciona una variedad de tipos de colecciones.
                    Desde el punto de vista del flujo del programa, un programa con frecuencia tiene que trabajar a través de tales colecciones y explorará las
                    construcciones de C# que puede usar para hacer esto.
                    <br />
                    <br />
                    También descubrirá las construcciones de C# que permiten que un programa reaccione a los valores en los datos con los que está trabajando y 
                    cambie su comportamiento adecuadamente. Explorará las construcciones if que permiten que un programa tome una decisión. También echará un 
                    vistazo a las expresiones lógicas que se evalúan para controlar y si la condición y la construcción del interruptor hacen que sea más fácil 
                    crear decisiones. Finalmente, un programa debe realizar el elemento de procesamiento de datos real evaluando los resultados de las expresiones 
                    y utilizando valores para actualizar el contenido de las variables. Observará cómo se evalúan las expresiones en los programas de C#.
                    <br>
                    <br />
                    Esta seccion cubre como:
                    <ul>
                        <li>
                            <a href="Tema0301">Iterar a través de elementos de colección y matriz</a>
                        </li>
                        <li>
                            <a href="Tema0302">
                                Programar decisiones mediante el uso de instrucciones de cambio, si/entonces, y operadores
                            </a>
                        </li>
                        <li>
                            <a href="Tema0303">
                                Evaluar expresiones
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>