
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 5: Implementar el manejo de exepciones</h6>
                <hr>
                <p class="card-text">
                    <h5>Implementar bloques try-catch-finally</h5>
                    <ul>
                        <li>
                            La construcción de prueba puede contener un elemento finalmente que identifica el código que se ejecutará independientemente de lo que suceda en la
                            construcción de prueba. El programa en el Listado 1-79 muestra el mensaje de agradecimiento, independientemente de si se produce alguna excepción cuando se
                            ejecuta el programa.
                        </li>
                        <li>
                            Tenga en cuenta que el código en este bloque está garantizado para ejecutarse independientemente de lo que ocurra durante la construcción de prueba. Esto
                            incluye situaciones en las que el código en la construcción vuelve a un método de llamada o el código en los manejadores de excepciones hace que se generen
                            otras excepciones. El último bloque es donde un programa puede liberar cualquier recurso que pueda estar usando.
                        </li>
                        <li>
                            La única situación en la que un bloque finalmente no se ejecutará es:
                        </li>
                        <li class="segundo">
                            Si el código anterior (ya sea en el bloque try o en un controlador de excepciones) ingresa un bucle infinito.
                        </li>
                        <li class="segundo">
                            Si el programador usa el método Environment.FailFast en el código protegido por la construcción try para solicitar explícitamente que se ignoren los elementos finales.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>