
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 5: Implementar el manejo de exepciones</h6>
                <hr>
                <p class="card-text">
                    La necesidad de manejar errores es una consecuencia natural de escribir programas útiles. Las excepciones son, como su nombre lo indica, errores
                    que ocurren en circunstancias excepcionales. No considero algo como una entrada de usuario no válida como una situación que debería gestionarse
                    mediante el uso de excepciones. El error del usuario debe esperarse y tratarse en el funcionamiento normal de una solución.
                    <br />
                    <br />
                    Un programa debe usar una excepción para administrar un error si no tiene sentido que el programa continúe la ejecución en el momento en que ocurre 
                    el error. Por ejemplo, si falla una conexión de red o se llena un dispositivo de almacenamiento. En esta sección aprenderá cómo lidiar con las 
                    excepciones y cómo crear y administrar sus propios eventos de excepción.
                    <br>
                    <br />
                    Esta seccion cubre como:
                    <ul>
                        <li>
                            <a href="Tema0501">Manejar tipos de excepción, incluidas excepciones SQL, excepciones de red, excepciones de comunicación, excepciones de tiempo de espera de red</a>
                        </li>
                        <li>
                            <a href="Tema0502">Usar declaraciones catch</a>
                        </li>
                        <li>
                            <a href="Tema0503">Usar clase base de una excepción</a>
                        </li>
                        <li>
                            <a href="Tema0504">Implementar bloques try-catch-finally</a>
                        </li>
                        <li>
                            <a href="Tema0505">Lanzar excepciones</a>
                        </li>
                        <li>
                            <a href="Tema0506">Relanzar una excepción</a>
                        </li>
                        <li>
                            <a href="Tema0507">Crear excepciones personalizadas</a>
                        </li>
                        <li>
                            <a href="Tema0508">Manejar excepciones internas</a>
                        </li>
                        <li>
                            <a href="Tema0509">Manejar excepciones agregadas</a>
                        </li>
                        <li>
                            <a href="Tema0510">Excepciones como parte de la entrega de errores gestionados</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>