
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 5: Implementar el manejo de exepciones</h6>
                <hr>
                <p class="card-text">
                    <h5>Lanzar excepciones</h5>
                    <ul>
                        <li>
                            Un programa puede crear y lanzar sus propias excepciones utilizando la instrucción throw para lanzar una instancia de excepción. El constructor de objetos de
                            excepción acepta una cadena que se utiliza para entregar un mensaje descriptivo al controlador de excepciones. El programa en el Listado 1-80 arroja una
                            excepción y la captura, mostrando el mensaje.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>