
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 3: Implementar flujos de programa</h6>
                <hr>
                <p class="card-text">
                    <h5>Evaluando expresiones</h5>
                    <ul>
                        <li>
                            Las expresiones de C# se componen de operadores y operandos. Los operadores especifican la acción a realizar y son valores literales 
                            (por ejemplo, el número 99) o variables. Ha visto ejemplos de operadores y operandos en uso en las expresiones lógicas que controlan las 
                            construcciones if en secciones anteriores. Un operador puede trabajar en un operando, y dichos operandos se denominan unarios o monádicos.
                        </li>
                        <li>
                            Los operadores monádicos son prefijo (dado antes del operando) o postfix (dado después del operando). Alternativamente, un operando puede 
                            funcionar en dos (binarios), o en el caso del operador condicional?: Tres operandos (ternarios).
                        </li>
                        <li>
                            El contexto del uso de un operador determina el comportamiento real que exhibirá el operador. Por ejemplo, el operador de suma se puede 
                            usar para agregar dos operandos numéricos juntos o concatenar dos cadenas juntas. El compilador detectará el uso de un contexto incorrecto 
                            (por ejemplo, agregar un número a una cadena) y provocará un error de compilación.
                        </li>
                        <li>
                            Cada operador tiene una prioridad o precedencia que determina cuándo se realiza durante la evaluación de la expresión. Esta precedencia 
                            puede ser anulada por el uso de paréntesis; Los elementos encerrados entre paréntesis se evalúan primero. Los operadores también tienen 
                            una asociabilidad, que da el orden (de izquierda a derecha o de derecha a izquierda) en el que se evalúan si varios de ellos aparecen 
                            juntos. El listado 1-64 muestra la evaluación de expresiones en acción.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>