
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 4: Crear e implementar eventos y callbacks</h6>
                <hr>
                <p class="card-text">
                    Ha visto que un programa fluye de una declaración a otra, procesando datos de acuerdo con las declaraciones que se realizan. En las primeras
                    computadoras, un programa fluía de principio a fin, comenzando con los datos de entrada y produciendo algo de salida antes de detenerse.
                    Sin embargo, las aplicaciones modernas no están estructuradas de esta manera. Una gran aplicación estará compuesta por una gran cantidad de
                    componentes cooperantes que transmiten mensajes de uno a otro.
                    <br />
                    <br />
                    Por ejemplo, un componente de una aplicación podría tener la tarea de obtener comandos del usuario. Cuando el componente de entrada recibe una
                    solicitud de usuario válida, pasa esta solicitud a otro componente para su procesamiento. Cada componente se puede crear y probar individualmente
                    antes de integrarse en la solución.
                    <br />
                    <br />
                    Para crear soluciones que funcionen de esta manera, necesitamos un mecanismo por el cual un componente pueda enviar un mensaje a otro. 
                    C# proporciona eventos para lograr esto. En esta sección, descubrimos las características del lenguaje C# que proporcionan administración de 
                    eventos, y luego exploramos cómo se usan en el diseño moderno de aplicaciones.
                    <br>
                    <br />
                    Esta seccion cubre como:
                    <ul>
                        <li>
                            <a href="Tema0401">Controladores de eventos</a>
                        </li>
                        <li>
                            <a href="Tema0402">Desuscribirse de un delegado</a>
                        </li>
                        <li>
                            <a href="Tema0403">Usar eventos</a>
                        </li>
                        <li>
                            <a href="Tema0404">Crear eventos con tipos de delegados integrados</a>
                        </li>
                        <li>
                            <a href="Tema0405">Usar delegados</a>
                        </li>
                        <li>
                            <a href="Tema0406">Usar expresiones lambda y métodos anónimos</a>
                        </li>
                        <li>
                            <a href="Tema0407">Métodos anónimos</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>