
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 5: Implementar el manejo de exepciones</h6>
                <hr>
                <p class="card-text">
                    <h5>Usando la clase base de una excepción</h5>
                    <ul>
                        <li>
                            El ejemplo en el Listado 1-77 captura todas las excepciones porque la clase Excepción es la clase base de todos los tipos de excepción. El programa en el
                            Listado 1-78 lee un número entero y luego realiza una división entera, dividiendo 1 por el número ingresado. Esta acción puede generar dos excepciones;
                            el usuario podría no ingresar un número válido o el usuario podría ingresar el valor 0, lo que causará una excepción dividir por cero. El programa también
                            contiene un tercer elemento catch, que detectará cualquier otra excepción que pueda generar este código. El orden de los elementos de captura es importante.
                            Si el primer elemento catch detecta el tipo Exception, el compilador generará el error "Una cláusula catch anterior ya detecta todas las excepciones de este
                            o de un tipo super (" Excepción ")". Debe colocar el tipo de excepción más abstracto al final de la secuencia.
                        </li>
                        <li>
                            Tenga en cuenta que no todos los errores aritméticos arrojarán una excepción en este punto del código; Si se realiza la misma división utilizando el tipo
                            de coma flotante o de doble precisión, el resultado se evaluará como "infinito".
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>