
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <h5 class="card-title">Capitulo 1: Controlando el flujo de un programa</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tema 5: Implementar el manejo de exepciones</h6>
                <hr>
                <p class="card-text">
                    <h5>Excepciones como parte de la entrega de errores gestionados</h5>
                    <ul>
                        <li>
                            Debes asegurarte de que tu código se ocupe de cualquier excepción que pueda ser lanzada por métodos, propagando la excepción hacia adelante si es necesario
                            para asegurarte de que los eventos de excepción no estén ocultos de diferentes partes de tu aplicación.
                        </li>
                        <li>
                            Sus métodos también deberían arrojar excepciones en situaciones en las que no tiene sentido continuar con una acción. Si un método arroja una excepción,
                            la persona que llama debe tratar con esa excepción si el programa debe continuar ejecutándose. Sin embargo, si un método devuelve un código de error cuando algo sale mal, la persona que llama puede ignorar este código de error.
                        </li>
                        <li>
                            Es importante que considere cómo administrar las condiciones de error durante el diseño de una aplicación. Es muy difícil agregar administración de errores a
                            una aplicación una vez que se ha creado.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>