@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p><b>Courso: 70-483 Programando en C#</b></p>
</div>

<div class="row">
    <div class="col">
        <div class="card" style="margin: 20px;">
            <div class="card-body">
                <p class="card-text">
                    <ul>
                        <li>
                            <a href="Capitulo01/Capitulo01">
                                <span class="badge badge-secondary">Capitulo 1</span>&nbsp;Manejando el flujo de un programa
                            </a>
                        </li>
                        <li>
                            <a href="Capitulo02/Capitulo02">
                                <span class="badge badge-secondary">Capitulo 2</span>&nbsp;Crear y usar tipos
                            </a>
                        </li>
                        <li>
                            <a href="Capitulo03/Capitulo03">
                                <span class="badge badge-secondary">Capitulo 3</span>&nbsp;Depurar aplicaciones e implementar seguridad
                            </a>
                        </li>
                        <li>
                            <a href="Capitulo04/Capitulo04">
                                <span class="badge badge-secondary">Capitulo 4</span>&nbsp;Implementar el acceso a datos
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>